<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label> Enter Text: </label> <br>
        <textarea name="user_input" cols="70" rows="5"></textarea>

        <br> <br> 
        <label> Select Language </label>
        <select name="language"> 
            <option hidden> Choose </option>
            <option> Hindi </option>
            <option> Telugu </option>
            <option> Tamil </option>
            <option> Kannada</option>
            <option> Malayalam</option>
            <option> Panjabi</option>
            <option> Marathi</option>
            <option> Bengali</option>
        </select>

        <br> <br>
        <button type="submit"> Translate </button>
    </form>

    {% if response %}
        <h1> response </h1>
        <h2> {{ response }} </h2>
    {% endif %}
</body>
</html>